.timeline {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  /* top: 20%; */
  height: 3px;
  background: #ddd;
  clear: both;
  z-index: 0;
}

.timeline-item {
  position: relative;
  width: calc(100% / 5); /* Assuming 5 items for now */
  float: left;
  text-align: center;
  padding: 10px;
}

.timeline-item::before {
  display: none;
}

.timeline-item:hover::before {
  background: #007bff; /* Bootstrap primary color */
}

.timeline-item .timeline-header {
  cursor: pointer;
  transition: color 0.3s;
}

.timeline-item:hover .timeline-header {
  color: #007bff; /* Bootstrap primary color */
}

.timeline-container {
  position: relative;
  padding-top: 10px; /* Reserve space for the description */
  padding-bottom: 15px;
}

.timeline-description {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.timeline-item:hover .timeline-description,
.timeline-item.active .timeline-description {
  display: block;
}

.interactive-icon {
  display: inline-block;
  margin-left: 5px;
  transform: translateY(-2px);
}

/* For mobile and smaller devices */
@media (max-width: 768px) {
  .timeline {
    padding: 20px 0 0 40px; /* Give space on the left for the timeline */
  }

  .timeline::after {
    left: 15px;
    top: 0;
    height: 100%;
    width: 3px;
  }

  .timeline-item {
    width: 100%;
    float: none; /* Reset floating */
    padding: 10px 10px 40px; /* Reset padding */
    position: relative; /* Reset positioning */
  }

  .timeline-header,
  .timeline-description {
    text-align: left; /* Align text to the left */
  }

  .timeline-description {
    /* Move the description below the timeline */
    margin-top: 10px;
    margin-left: 25px; /* Align with the header */
  }

  /* .timeline-header::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  } */
}
