/* Base Styles */
.timeline {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #ddd;
  clear: both;
  z-index: 0;
}

.timeline-container {
  position: relative;
  padding-top: 10px; /* Reserve space for the description */
  padding-bottom: 15px;
}

.timeline-item {
  position: relative;
  width: calc(100% / 5); /* Assuming 5 items for now */
  float: left;
  text-align: center;
  padding: 10px;
}

.interactive-icon {
  display: inline-block;
  margin-left: 5px;
  transform: translateY(-2px);
}

/* Component-Specific Styles */
.tooltip-container {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  z-index: 10;
  width: 200px;
  text-align: center;
  transform: translateX(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.timeline-item .timeline-header {
  cursor: pointer;
  transition: color 0.3s;
}

.timeline-description {
  display: none;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: #d3d3d3;
  padding: 8px 12px;
  border-radius: 5px;
  z-index: 10;
  width: 200px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

/* States */
.timeline-item:hover::before {
  background: #007bff;
}

.timeline-item:hover .timeline-header {
  color: #007bff;
}

.timeline-item:hover .timeline-description,
.timeline-item.active .timeline-description {
  display: block;
}

/* Media Queries */
@media (max-width: 768px) {
  .timeline {
    padding: 20px 0 0 40px;
  }

  .timeline::after {
    left: 15px;
    top: 0;
    height: 100%;
    width: 3px;
  }

  .timeline-item {
    width: 100%;
    float: none;
    padding: 10px 10px 40px;
  }

  .timeline-header,
  .timeline-description {
    text-align: left;
  }
}
